<p>
    "I’m calling because I’m worried that the Federal Communications Commission
    is going rogue, and that President Obama must reign them now in if he wants
    to save net neutrality &mdash; and his legacy. I support a strong net
    neutrality rule under Title II of the Telecommunications act &mdash; not
    the FCC’s fake plan which would still allow for fees and discrimination
    against websites.  Please do anything in your power to support
    Net Neutrality.”
</p>
<p class="gray bottom">(Please leave a message if you get voicemail)</p>
