<h1>Did Obama Break the Net?</h1>
<h1 class="MEGA">Maybe not!</h1>
<!--<h4>(we'll update this site if he does.)</h4>-->
<p>
    <!--<strong>We need your urgent help to pressure the White House.</strong>-->
    <strong>
        <a href="https://www.youtube.com/watch?v=uKcjQPVwfDk" target="_blank">
            BREAKING 10/10/2014: President Obama issues statement in support of Title II Net Neutrality rules!
        </a>
        Just over the last few days, nearly 10,000
        calls were placed to the White House, using this site, to urge President
        Obama to stand up for Net Neutrality.  Now that he has, we need to pivot
        back to the FCC, and make sure that they implement a strong rule ASAP.
        Call the FCC and ask them to respect the authority of the President and the
        will of the American people!
    </strong>
    <br/><br/>
    <button class="green" onclick="window.open('https://www.callthefcc.com');">Call the FCC</button>
    <br/>
    <iframe width="640" height="390" src="//www.youtube.com/embed/uKcjQPVwfDk" frameborder="0" allowfullscreen></iframe>
</p>
<div class="blur">
    <p>
        President Obama still calls himself a strong supporter of Net Neutrality.
        Yet the Wall Street Journal just reported that the Federal Communications
        Commission is preparing a new rule that would let Internet providers 
        discriminate and charge fees &mdash; even though Obama appointed a majority
        of the FCC's members, including the chairman! 
    </p>
    <p>
        Call the White House right away to tell Obama to save the Internet &mdash;
        and his legacy &mdash; by reining in his rogue FCC!
    </p>