<h1>Did Obama Break the Net?</h1>
<h1 class="MEGA">Not quite yet.</h1>
<p>
    <strong>We need your urgent help to pressure the White House.</strong>
</p>
<p>
    President Obama still calls himself a strong supporter of Net Neutrality
    &mdash; the principle that cable companies like Comcast shouldn't be able to
    discriminate against some websites while making it easier to access others
    (like the ones they own, that pay them fees, or that they like for political
    reasons).
</p>
<p>
    Yet the Wall Street Journal just reported that the Federal Communications
    Commission is preparing a new rule that would let Internet providers
    discriminate and charge fees &mdash; even though Obama appointed a majority
    of the FCC's members, including the chairman! (Who used to be a lobbyist for
    Big Cable, by the way&hellip;)
</p>