<h1>Did Obama Break the Net?</h1>
<h1 class="MEGA">Not quite yet.</h1>
<p>
    <strong>We need your urgent help to pressure the White House.</strong>
</p>
<p>
    President Obama still calls himself a strong supporter of Net Neutrality.
    Yet the Wall Street Journal just reported that the Federal Communications
    Commission is preparing a new rule that would let Internet providers 
    discriminate and charge fees &mdash; even though Obama appointed a majority
    of the FCC's members, including the chairman! 
</p>
<p>
    Call the White House right away to tell Obama to save the Internet &mdash;
    and his legacy &mdash; by reining in his rogue FCC!
</p>