<p class="small">
    Net Neutrality is the principle that cable companies like Comcast shouldn't be able to discriminate against some websites while making it easier to access others (like the ones they own, that pay them fees, or that they like for political reasons).
</p>
<p class="small">
    The ramifications of this decision (and this website!) will live on way past the end of Obama’s tenure as President.  Help us make it clear to Obama that if he wants to save the Internet — and his legacy — he needs to rein in his rogue FCC right away.  We need to act fast: The FCC will probably vote on the new rule in just a few weeks.
</p>
<p class="small">
    If you insert your phone number above, we’ll automatically connect you to a high-level staffer at the White House or the Commerce Department.  We’ll give you a short script you can read, and the whole process will only take a minute or two.
</p>